<div class="form-check form-check-inline">
  <input type="checkbox" class="form-check-input" id="customCheck1">
  <label class="navbar-text form-check-label" for="customCheck1">Word Wrap</label>
</div>
